<style>
	.resize {
		height: 500px;
		display: block;
	}

	#sidenav {
		padding: 0;
		width: 170px;
		border: #e2e2e2 solid 1px;
		border-radius: 6px;
		background: white;
		margin: 0;
		padding: 0;
	}

	#sidenav li a{
		padding: 0;
		margin: 0;
	}
</style>
<!-- data-spy="affix" data-offset-top="200" style="" -->
<div class="container">
	<div class="row">
		<div class="span2">
			<ul id="sidenav" class="nav nav-list visible-desktop affix">
	  			<li><a href="#elm1">elm1</a></li>
	  			<li><a href="#elm2">elm2</a></li>
	  			<li><a href="#elm3">elm3</a></li>
	  			<li><a href="#elm4">elm4</a></li>
	  			<li><a href="#elm5">elm5</a></li>
	  			<li><a href="#elm6">elm6</a></li>
			</ul>
		</div>
		<div class="span9" style="border: #e2e2e2 solid 1px; background: white; padding: 20px; border-radius: 6px;">
			<p class="resize" id="elm1">text1</p>
			<p class="resize" id="elm2">text2</p>
			<p class="resize" id="elm3">text3</p>
			<p class="resize" id="elm4">text4</p>
			<p class="resize" id="elm5">text5</p>
			<p class="resize" id="elm6">text6</p>
		</div>
	</div>
</div>