body {
	font-family: "open sans" !important;
	background: #eee url(../images/bg_x.png) repeat-x top center !important;
	height: 100%;
}

#inner_page {
	padding-top: 30px;
}
.subhead {
	text-align: left;
	border-bottom: 1px solid #DDD;
}

.navbar.navbar-static-top .navbar-inner {
	background: #434343;
}



.navbar .brand {
	padding: 2px;
	background: url(../images/brand.png) no-repeat center center;
	width: 111px;
	height: 35px;
	border-radius: 4px;
	text-shadow: none;
	background: white;
}


/*
.navbar .nav > li > a {
	color: white;
	text-shadow: none;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover {
	background-color: #fff !important;
	text-shadow: none;
	color: #333;
	box-shadow:none;
}

.navbar .nav > .active > a:hover {
	color: #333;
	cursor: default;
}*/

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
footer {
    min-height: 60px;
}

footer {
	padding: 30px 0 0 0;
	background: #434343;
	color: #B2D1E5;
}

.sidenav > .active > a {
	background: blue;
}
.sidenav .icon-chevron-right {
	float: right;
}